.site-header {
  width: 100%;
  background-color: #0e0d0d;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
}

.tabs {
  display: flex;
  justify-content: space-evenly; /* Ensures even spacing between tabs */
  padding: 10px 0;
  width: 100%;
  max-width: 1200px;
}

.tab {
  font-size: 1.2em;
  color: #c1c4e7;
  text-decoration: none;
  padding: 10px 20px;
  transition: color 0.3s ease;
  flex-grow: 1; /* Ensures tabs take equal width */
  text-align: center; /* Centers the text within each tab */
}

.tab:hover {
  color: #ffffff;
}
